body {
   margin: 0;
   padding: 0;
}

.tema {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(85, 94, 131);
   height: 90vh;
   box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.72);
}
.tema h1{
   margin: 0px;
   padding: 0px;
   color: rgb(252, 233, 208);
   text-shadow: 1px 1px 1px rgb(123, 81, 81);
   text-transform: uppercase;
   font-size: 64px;
}
.tema::before, .tema::after {
   content: "";
   height: 200px;
   width: 200px;
   background-color: rgb(85, 94, 131);
   position: absolute;
   bottom: 0px;
   z-index: 10;
}
.tema::before {
   bottom: -4%;
   right: 50%;
   transform: skew(0, 20deg);
}
.tema::after {
   bottom: -4%;
   left: 50%;
   transform: skew(0, -20deg);
}

.secciones {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   background-color: rgb(146, 90, 90);
   align-items: center;
   height: 100vh;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%)
}
.secciones h1{
   margin: 0px;
   padding: 0px;
   color: rgb(252, 233, 208);
   text-shadow: 1px 1px 1px rgb(123, 81, 81);
   text-transform: uppercase;
   font-size: 32px;
}
.icon {
   height: 200px;
}
.emp {
   font-weight: bold;
   font-size: large;
}

.teorico {
   display: flex;
   padding: 10% 20% 10% 20%;
   flex-direction: column;
   justify-content: center;
   background-color: rgb(105, 148, 95);
   color: white;
   align-items: center;
   min-height: 100vh;
   clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%)
}
.teorico h1{
   width: 100%;
   margin: 0px;
   padding: 0px;
   color: rgb(252, 233, 208);
   text-shadow: 1px 1px 1px rgb(123, 81, 81);
   text-transform: uppercase;
   text-align: center;
   font-size: 32px;
}
.teorico ul li{
   padding: 8px;
}

.ti {
   display: flex;
   padding: 10% 20% 10% 20%;
   flex-direction: column;
   justify-content: center;
   background-color: rgb(95, 146, 148);
   color: white;
   align-items: center;
   min-height: 100vh;
   clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%)
}
.ti h1{
   width: 100%;
   margin: 0px;
   padding: 0px;
   color: rgb(252, 233, 208);
   text-shadow: 1px 1px 1px rgb(123, 81, 81);
   text-transform: uppercase;
   text-align: center;
   font-size: 32px;
}

.programacion {
   display: flex;
   padding: 10% 20% 10% 20%;
   flex-direction: column;
   justify-content: center;
   background-color: rgb(148, 95, 137);
   color: white;
   align-items: center;
   min-height: 100vh;
   clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%)
}
.programacion h1{
   width: 100%;
   margin: 0px;
   padding: 0px;
   color: rgb(252, 233, 208);
   text-shadow: 1px 1px 1px rgb(123, 81, 81);
   text-transform: uppercase;
   text-align: center;
   font-size: 32px;
}